body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  background-color: #f5f5f5;
  color: #262626;
}

@media only screen and (max-width:  800px) {
  body {
    flex-direction: column;
    gap: 3em;
  }
  
  #banner {
    width: auto;
    background-size: 100% auto;
    background-position: 100% 20%;
    padding: 0 !important;
  }

  #banner #credits {
    display: none;
  }

  #form-area > form > div > div {
    width: 100% !important;
  }
}

@media only screen and (min-width:  800px) {
  body {
    flex-direction: row;
  }
  
  #banner {
    width: 40vw;
    max-width: 600px;
    background-position: center;
  }
}

/**********/
/* Banner */
/**********/
#banner {
  background-image: url('../img/banner.jpg');
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 3em 0 3em 0;
  user-select: none;
  flex-shrink: 0;
}

#banner > .container {
  background-color: #26262665;
  width: 100%;
  display: flex;
  margin: auto 0 auto 0;
  justify-content: center;
  gap: 2em;
  padding: 2em 0 2em 0;
}

#banner h1 {
  opacity: 100%;
  color: #f5f5f5;
  font-family: 'Pirata One', cursive;
  margin: 0;
  text-align: center;
  font-size: 4em;
  text-transform: uppercase; 
  font-weight: 300;
  align-self: center;
}

#banner svg {
  fill: #f5f5f5;
  width: 5em;
  margin: auto 0 auto 0;
}

#banner #credits {
  width: fit-content;
  backdrop-filter: blur(5px);
  font-size: 0.9em;
  color: #f5f5f5;
  text-align: center;
  margin: auto auto 0 auto;
}

#banner #credits a { 
  color: inherit;
}

/********/
/* MAIN */
/********/

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#message-area,
#form-area > form > div,
#sign-in {
  padding: 0 2em 0 2em;
}


#message-area {
  font-size: 1.8em;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

#form-area {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
  gap: 2em;
}

#form-area > form > div:first-child {
  background-color: #f0fdfa;
  box-shadow: 0px 5px 5px #d4d4d4;
  border-radius: 15px;
  padding: 2em;
  display: flex;
  flex-direction: row;
  gap: 1em;
  flex-wrap: wrap;
}

#form-area > form > div:first-child > p {
  width: 100%;
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 1.5em;
}

#form-area > form > div > div {
  width: 40%;
  display: flex;
  flex-direction: column;
  font-size: 1.0em;
  gap: 0.5em;
}

#form-area button {
  margin-top: 2em;
  background-color: #2C8D76;
  color: #f5f5f5;
  border: none;
  border-radius: 10px;
  font-size: 1.5em;
  padding: 0.5em 1em 0.5em 1em;
}

#form-area button {
  cursor: pointer;
}

#form-area label {
  text-transform: uppercase;
  font-weight: 500;
}

#form-area input {
  font-size: inherit;
  border: 2px solid #262626;
  border-radius: 10px;
  padding: 0.5em;
  outline: none;
}

#form-area input:focus {
  border-color: #038F82;
}

#form-area input.error {
  border-color: #dc2626;
}

#sign-in {
  font-size: 1.2em;
  margin-bottom: 5em;
}

#sign-in a {
  text-decoration: none;
  color: #038F82;
}